@page "/contacts"
@using BlazingChat.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="col-12">

    <div class="col-12 row">
        <input type="text" class="col-9 form-control" placeholder="search"/>
        <span>&nbsp;</span><button class="btn btn-primary">Search</button>
    </div>
    <br />
    @foreach (var contact in ContactList)
    {
        <a href="/chat/@contact.ContactId" class="list-group-item list-group-item-action flex-column align-items-start">
            @contact.FirstName <span> </span> @contact.LastName
        </a>
    }
</div>

@code {
    
    private List<Contact> ContactList { get; set; } = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");        
        ContactList = await Http.GetFromJsonAsync<List<Contact>>("user");
        
        //ContactList.Add(new Contact(1, "Julius", "Caesar"));
        //ContactList.Add(new Contact(2, "Daniel", "Tonini"));
        //ContactList.Add(new Contact(3, "Gary", "Thomas"));
        //ContactList.Add(new Contact(4, "Martin", "Sommer"));
        //ContactList.Add(new Contact(5, "Howard", "Snyder"));
    }

    private void NavigateToChat()
    {
        NavigationManager.NavigateTo("/chat");
    }
}
