@page "/"

<div class="col-12">
    <input type="text" class="form-control" placeholder="first name">
    <br/>
    <input type="text" class="form-control" placeholder="last name">
    <br/>
    <input type="text" class="form-control" placeholder="email address">
    <br/>
    <button class="btn btn-primary" @onclick="UpdateProfile">Update Profile</button>
    <button class="btn btn-primary" @onclick="GetProfile">Get Profile</button>
    <span>&nbsp;&nbsp;</span>@Message
</div>

@code {

    public int UserId { get; set; } = 10;
    public string Message { get; set; }
    
    private void UpdateProfile()
    {
        Message = "Profile updated successfully";
    }

    private void GetProfile()
    {
        Message = "Profile loaded successfully";
    }
}