<AuthorizeView Roles="general, admin">
    <NotAuthorized>
        <hr class="white-horizontal-line"/>
        <p class="alert alert-primary">
            It looks like your account is not <b>"Activated"</b>.
            <br />
            Please send an email to <b>"curiousdrive@gmail.com"</b> with subject <b>"Activate"</b>.
            <br />
            Make sure that you are using BlazingChat account email address to send the email.
            <br />
            CuriousDrive will reply you back once your account is <b>"Activated"</b>. 
        </p>
        <hr class="white-horizontal-line"/>
    </NotAuthorized>
</AuthorizeView>
