@page "/"
@using BlazingChat.ViewModels
@using BlazingChat.Shared.Models
@inject ILoginViewModel _loginViewModel
@inject NavigationManager _navigationManager

<h2><b>Login</b></h2>
<hr>

<div class="col-6">
    <input type="text" @bind="_loginViewModel.EmailAddress" class="form-control" placeholder="email address">
</div>
<br />
<div class="col-6">
    <input type="password" @bind="_loginViewModel.Password" class="form-control" placeholder="password">
</div>
<br />
<div class="col-6">
    <button class="btn btn-primary" @onclick="LoginUser">Login</button>
</div>

@code {
    public async Task LoginUser()
    {
        await _loginViewModel.LoginUser();
        _navigationManager.NavigateTo("/profile",true);
    }
}