@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <h4><b>Hello, Email Address/User Name</b></h4> &nbsp;
        <button class="btn btn-danger" @onclick="LogoutUser">Logout</button>
    </div>
    <div class="top-row px-4">
        <button class="btn btn-primary" @onclick="LoginUser">Login</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    private void LogoutUser()
    {
        _navigationManager.NavigateTo("/", true);
    }

    private void LoginUser()
    {
        _navigationManager.NavigateTo("/", true);
    }

}
