@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    
    <AuthorizeView>
        <Authorized>
            <div class="top-row px-4">
            @context.User.Identity.Name
            <button class="btn btn-danger" @onclick="LogoutUser">Logout</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="top-row px-4">
                <button class="btn btn-primary" @onclick="LoginUser">Login</button>
            </div>    
        </NotAuthorized>
    </AuthorizeView>
    
    
    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    private void LogoutUser()
    {
        _navigationManager.NavigateTo("/");
    }

    private void LoginUser()
    {
        _navigationManager.NavigateTo("/");
    }

}
