@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<h1>Login Page</h1>
<br>

<div class="col-4">
    <a class="btn btn-block btn-social btn-twitter" @onclick="TwitterSignIn">
        <span class="fa fa-twitter"></span> <b>Sign in with Twitter</b>
    </a>
</div>

@code{

    [CascadingParameter]
    public Task<AuthenticationState> authenticationStateTask { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if(user.Identity.IsAuthenticated)
            NavigationManager.NavigateTo("/chat");
    }

    private void TwitterSignIn()
    {
        NavigationManager.NavigateTo("user/twittersignin?redirectUri=/chat", true);
    }

}