@page "/"
@layout LoginLayout
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<h2><b>Login</b></h2>
<hr>

 @* -- I need view models for each of prototype *@

<div class="col-12 row">
    <input type="text" class="form-control" placeholder="email address">
</div>
<br />
<div class="col-12 row">
    <input type="password" class="form-control" placeholder="password">
</div>
<br />
<div class="col-12 row">
    <div class="col-4">
        <button class="btn btn-danger" @onclick="LoginClick">Login</button>
    </div>
    <div class="col-6">
        <button class="btn btn-primary" @onclick="@(e => NavigationManager.NavigateTo("/register"))">Register</button>
    </div>
    <div class="col-2">

    </div>
</div>

<ExternalLogins />


@code{

    [CascadingParameter]
    public Task<AuthenticationState> authenticationStateTask { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if(user.Identity.IsAuthenticated)
            NavigationManager.NavigateTo("/profile");
    }

    private void LoginClick()
    {
        // need to write login functionality later
        NavigationManager.NavigateTo("/profile");
    }

}