@page "/"
@layout LoginLayout
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h2><b>Login</b></h2>
<hr>

<div class="col-12 row">
    <input type="text" @bind="EmailAddress" class="form-control" placeholder="email address">
</div>
<br />
<div class="col-12 row">
    <input type="password" class="form-control" placeholder="password">
</div>
<br />
<div class="col-12 row">
    <button class="btn btn-danger" @onclick="LoginClick">Login</button>
    <span>&nbsp;</span>
    <button class="btn btn-primary" @onclick="@(e => NavigationManager.NavigateTo("/register"))">Register</button>    
</div>

<ExternalLogins />

@code{

    [CascadingParameter]
    public Task<AuthenticationState> authenticationStateTask { get; set; }
    public string EmailAddress { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if(user.Identity.IsAuthenticated)
            NavigationManager.NavigateTo("/profile");
    }

    private void LoginClick()
    {
        // need to write login functionality later
        if(EmailAddress != string.Empty)
        {
            ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedIn(EmailAddress);
            NavigationManager.NavigateTo("/profile");
        }       
    }

}