@page "/register"
@layout LoginLayout
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h2><b>Register</b></h2>
<hr>

@* -- I need view models for each of prototype *@

<div class="col-12 row">
    <input type="text" @bind="EmailAddress" class="form-control" placeholder="email address">
</div>
<br />
<div class="col-12 row">
    <input type="password" class="form-control" placeholder="password">
</div>
<br />
<div class="col-12 row">
    <input type="password" class="form-control" placeholder="cofirm password">
</div>
<br />

<div class="col-12 row">
    <button class="btn btn-danger" @onclick="RegisterClick" >Register</button>
    <span>&nbsp;</span>
    <button class="btn btn-primary" @onclick="@(e => NavigationManager.NavigateTo("/"))">Login</button>
</div>

<ExternalLogins />

@code {

    public string EmailAddress { get; set; }

    private void RegisterClick()
    {
        // need to write login functionality later
        if(EmailAddress != string.Empty)
        {
            ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedIn(EmailAddress);
            NavigationManager.NavigateTo("/profile");
        }       
    }


}