@page "/settings"
@using BlazingChat.ViewModels
@inject ISettingsViewModel _settingsViewModel

<div class="col-12">
    <input type="checkbox" checked="@_settingsViewModel.Notifications" id="chkNotification">
    <label> Notification </label>
    <button class="btn btn-primary" @onclick="UpdateNotification">Update Notifications</button>
    <br>   

    <input type="checkbox" checked="@_settingsViewModel.DarkTheme" id="chkDarkTheme">
    <label> Dark Theme </label>
    <button class="btn btn-primary" @onclick="UpdateTheme">Update Theme</button>
    <br>
</div>

@code {
   
    private async Task UpdateNotification()
    {
        await _settingsViewModel.UpdateNotifications(10);
    }

    private async Task UpdateTheme()
    {
        await _settingsViewModel.UpdateTheme(10);
    }

}
