@page "/"
@using BlazingChat.ViewModels
@using BlazingChat.Shared.Models
@inject ILoginViewModel _loginViewModel
@inject NavigationManager _navigationManager

<h2><b>Login</b></h2>
<hr>

<div class="col-6">
    <input type="text" @bind="_loginViewModel.EmailAddress" class="form-control" placeholder="email address">
</div>
<br />
<div class="col-6">
    <input type="password" @bind="_loginViewModel.Password" class="form-control" placeholder="password">
</div>
<br />
<div class="col-6">
    <button class="btn btn-primary" @onclick="LoginUser">Login</button>
</div>
<br />
<div class="col-6">
    <a class="btn btn-block btn-social btn-twitter" @onclick="TwitterSignIn">
        <span class="fa fa-twitter"></span> <b>Sign in with Twitter</b>
    </a>
</div>


@code {
    public async Task LoginUser()
    {
        await _loginViewModel.LoginUser();
        _navigationManager.NavigateTo("/profile",true);
    }

    private void TwitterSignIn()
    {
        _navigationManager.NavigateTo("user/TwitterSignIn", true);
    }
}