@page "/friends"

<h2><b>Friends</b></h2> 
<hr />

<div class="col-12">
    <ul class="list-group">
        <li class="list-group-item">
            Paolo Accorti
        </li>
        <li class="list-group-item">
            Aria Cruz
        </li>
        <li>
            Philip Cramer
        </li>
        <li>
            Francisco Chang
        </li>
        <li>
            Lesley Brown
        </li>
        <li>
            Helen Bennett
        </li>
        <li>
            Victoria Ashworth
        </li>
        <li>
            Pedro Afonso    
        </li>
        <li>
            Carlos Hernadez
        </li>
        <li>
            Paul Henriot
        </li>
        <li>
            Peter Franken
        </li>
        <li>
            Anabela Domingues
        </li>
        <li>
            Ann Devon
        </li>
    </ul>
</div>

@code {

    protected override Task OnInitializedAsync()
    {

        
        return base.OnInitializedAsync();
    }

}