@page "/profile"

<h2><b>Profile</b></h2> 
<hr />

<div class="col-12 row">

<div class="col-3">
    <img src="img/blank-profile.png">
</div>

<div class="col-6">
    <input class="form-control" placeholder="first name">
    <br/>
    <input class="form-control" placeholder="last name">
    <br/>
    <input class="form-control" placeholder="email address">
    <br/>
    
    <textarea class="form-control" placeholder="first name">

    </textarea>
    <br/>
</div>

</div>
