@page "/profile"

<h2><b>Profile</b></h2> 
<hr />

<div class="col-12 row">

<div class="col-5">
    <img src="img/blank-profile.png">

    <a href=""> Change Picture</a>
</div>

<div class="col-6">
    <input class="form-control" placeholder="first name">
    <br/>
    <input class="form-control" placeholder="last name">
    <br/>
    <input class="form-control" placeholder="email address">
    <br/>    
    <textarea class="form-control" placeholder="first name">

    </textarea>
    <br/>
    <button class="btn btn-primary">Save</button>
</div>

</div>
