@page "/settings"

<h2><b>Settings</b></h2> 
<hr />

<div class="col-12">
    <input type="checkbox" id="chkNotification" name="Notification">
    <label for="chkNotification"> Notification </label>
    <br>

    <input type="checkbox" id="chkDarkTheme" name="Dark Theme">
    <label for="chkDarkTheme"> Dark Theme </label>
    <br>
</div>
