@page "/testchat"
@inject IJSRuntime JSRuntime

<div class="panel panel-primary h-100" style="border:0px;">
    <div class="panel-heading top-bar">
      <div class="col-md-8 col-xs-8">
        <h3 class="panel-title"><span class="glyphicon glyphicon-comment" style="margin-right:6px;"></span>Blazing Chat</h3>
      </div>
    </div>

    <div id="divMessageContainerBase" class="panel-body msg_container_base">
      <div class="row msg_container base_sent">
        <div class="col-md-10 col-xs-10">
          <div class="messages msg_sent">
            <p>that mongodb thing looks good, huh? tiny master db, and huge document store</p>
          </div>
        </div>
      </div>

      <div class="row msg_container base_receive">
        <div class="col-md-10 col-xs-10">
          <div class="messages msg_receive">
            <p>that mongodb thing looks good, huh? tiny master db, and huge document store</p>
          </div>
        </div>
      </div>
      
      <div id="chatLog" class="col-12">        
      </div>
    </div>

    <!--CHAT USER BOX-->
    <div class="panel-footer">
      <div class="input-group" id="myForm">
        <input id="btn-input" type="text" class="form-control input-sm chat_input" 
          placeholder="Write your message here..." @onkeydown="@(e => OnKeyDownEvent(e))">
      </div>
    </div>
</div>

@code {

   public async Task OnKeyDownEvent(KeyboardEventArgs eventArgs)
    {        
        if(eventArgs.Key == "Enter")
        {
            string messsageToBeSent = await JSRuntime.InvokeAsync<string>("submitClick");            
        }
    }
}