@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorageService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazing Chat</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" >
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/profile" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Profile
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="/contacts" Match="NavLinkMatch.All">
                <span class="oi oi-chat" aria-hidden="true"></span> Contacts
            </NavLink>
        </li>      
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/settings" Match="NavLinkMatch.All">
                <span class="oi oi-file" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
         <li class="nav-item px-3">
        </li>
        <li class="nav-item px-3">
            <button class="btn btn-primary" @onclick="Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> LogOut
            </button>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await LocalStorageService.RemoveItemAsync("userId");
        NavigationManager.NavigateTo("user/signout", true);
    }
}
