@page "/contacts"

@inject IContactsViewModel _contactsViewModel
@inject NavigationManager _navigationManager

<ActivateMessage></ActivateMessage>

<h2 class="white-text"><b>Contacts</b></h2> 
<hr class="white-horizontal-line"/>

<div class="col-12 row">
    <input type="text" class="col-12 form-control dark-theme-textbox" placeholder="search" />
</div>
<br />
@if (_contactsViewModel.ContactsCount > 0)
{
    <Virtualize ItemsProvider="LoadOnlyVisibleContacts" Context="contact">
        <ItemContent>
            <div style="height: 50px">
                <a href="/chat/@contact.ContactId"
                class="list-group-item list-group-item-action flex-column align-items-start contact-list-item">
                    @if(contact.FirstName != null)
                    {
                        @contact.FirstName <span> </span> @contact.LastName
                    }
                    else
                    {
                        @contact.EmailAddress
                    }
                </a>
            </div>
        </ItemContent>
        <Placeholder>
            <div style="height: 50px">
                <p>Loading...</p>
            </div>
        </Placeholder>
    </Virtualize>
}
<br />

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    [CascadingParameter]
    public Error Error { get; set; }
 
    private async ValueTask<ItemsProviderResult<Contact>> LoadOnlyVisibleContacts(ItemsProviderRequest itemsProviderRequest)
    {
        await _contactsViewModel.LoadOnlyVisibleContactsDB(itemsProviderRequest.StartIndex,itemsProviderRequest.Count);
        return new ItemsProviderResult<Contact>(_contactsViewModel.Contacts, _contactsViewModel.ContactsCount);
    }

    protected override async Task OnInitializedAsync() 
    {
        try
        {
            var authState = await AuthenticationState;

            if (authState.User.Identity is { IsAuthenticated: true })
            {
                await _contactsViewModel.LoadContactsCountDB();
            }
            else _navigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            await Error.ProcessError(ex);
        }
    }
    
    private void NavigateToChat()
    {
        _navigationManager.NavigateTo("/chat");
    }
}
