@inherits LayoutComponentBase

<div style="flex: 1; height: 100vh;">
    <br /><br />
    <center>
        <div class="col-12 card">
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
            <div class="col-12 row">
                <div class="col-6" style="border-right:groove">
                    <img src="/img/Blazing Network Logo.jpg" width="300px" height="400px" />
                </div>
                <div class="col-6" style="border-left:thick">
                    @Body
                </div>
            </div>
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
        </div>
    </center>
</div>
