@page "/thanks"
@page "/thanks/{MessageTo}"

<div style="border: 2px dashed red;padding: 1em;margin: 1em 0;background-color: green;">
    <p>@MessageTo : Thanks for watching this video series...</p>
</div>

@code {

    [Parameter]
    public string MessageTo { get; set; }
}
