@page "/FacebookAuth"

@using Microsoft.AspNetCore.WebUtilities
@using BlazingChat.Shared
@using BlazingChat.ViewModels
@inject NavigationManager _navigationManager
@inject IFacebookAuthViewModel _facebookViewModel

<h1> @AccessToken</h1>
<h2>Please wait...</h2>

@code{
    public string AccessToken {get; set;}
    protected override async Task OnInitializedAsync()
    {
        if (QueryHelpers.ParseQuery(_navigationManager.Uri.Split('#')[1]).TryGetValue("access_token", out var _accessToken))
        {
            AccessToken = _accessToken;        
            await _facebookViewModel.GetFacebookJWTAsync(_accessToken);
        }
    } 

}