@page "/GoogleAuth"

@using Microsoft.AspNetCore.WebUtilities
@using BlazingChat.Shared
@using BlazingChat.ViewModels
@inject NavigationManager _navigationManager
@inject ILocalStorageService _localStorageService
@inject ITwitterAuthViewModel _twitterAuthViewModel

<h1>Please wait...</h1>
<h3> OAuth Verifier : @OAuthVerifier</h3>

@code{
    public string OAuthVerifier {get; set;}
    protected override async Task OnInitializedAsync()
    {
        if (QueryHelpers.ParseQuery(_navigationManager.Uri).TryGetValue("oauth_verifier", out var _oAuthVerifier))
        {
            OAuthVerifier = _oAuthVerifier;

            var twitterRequestTokenResponse = await _localStorageService.GetItemAsync<TwitterRequestTokenResponse>("twitterRequestTokenResponse"); 
            twitterRequestTokenResponse.OAuthVerifier = OAuthVerifier;
            
            string token = await _twitterAuthViewModel.GetTwitterJWTAsync(twitterRequestTokenResponse);
            await _localStorageService.SetItemAsync<string>("jwt_token", token);
            
            _navigationManager.NavigateTo("/", true);
        }
    } 
}